<div class="container-fluid">
<div class="d-flex mt-3 border border-1 card-content-1" data-aos="zoom-in-left" data-aos-duration="1000">
      <div class="card-left">
        <div class="card-body pe-3">
            <h3 class="pt-1  fw-light"> We will make your Vacation unforgottable</h3>
          <h3 class="title-1">Services we offer </h3>
          <ul class="d-flex justify-content-around p-0 m-1"> 
            <li class="list-item border-0"> Travel Insurance</li>
            <li class="list-item"> Flights</li>
            <li class="list-item"> Sightseeing</li>
            <li class="list-item"> Accommodation</li>
          </ul>
          <p id="left-list-description" class="mt-4">{{descriptionDefault}}</p>
        </div>
      </div>
      <div class="card-right">
        <img src="/assets/images/volleyball.jpg" class="card-img" alt="Volleyball">
      </div>
  </div>
</div>