<div class="container-fluid">
  <div class="row">
<div class="card mb-3 col-sm-12 col-md-12 col-lg-12  mt-4 animate__animated  animate__slideInLeft animate__delay-1s">
    <div class="row no-gutters">
      
      <div class="col-sm-9 col-7">
        <div class="card-body pe-0">
            <p class="card-text pt-1"> We will make your Vacation unforgottable</p>
          <h5 class="card-title fs-3 fw-normal">Services we offer </h5>

          <ul class="list-group list-group-horizontal p-0">
              
            <li class="list-group-item border-0 p-1 " (click)="showDescription()"> Traver Insurance</li>
            <li class="list-group-item border-0 p-1 " (click)="showDescription()"> Flights</li>
            <li class="list-group-item border-0 p-1 " (click)="showDescription()"> Sightseeing</li>
            <li class="list-group-item border-0 p-1 " (click)="showDescription()"> Accommodation</li>

          </ul>
          <p class="card-text descriptions"></p>

        </div>
      </div>
      <div class="col-sm-3 col-5 pe-0">
        <img src="/assets/images/volleyball.jpg" class="card-img" alt="...">
      </div>

    </div>
  </div>
</div>
</div>