<div class="container-fluid heroContainer">
  <figure>
    <img src="../../assets/images/bghome.jpg" class="heroImg" alt="Island">
  </figure>
<div class="card">
    <div class="card-body text-white">
      <p class="card-text  m-0 ">Experience The </p>
      <h5 class="card-title h1 ">Best Trip Ever</h5>
      <p class="card-text">we are committed to offering travel services of the highest quality. <br>combining our energy and enthusiasm
          with years of experience
      </p>
      <a href="#" class="btn btn-success text-white">Contact us</a>
    </div>
  </div>
</div>