@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
*{
    font-family:'Saira', sans-serif;
    font-weight: bold;
}
nav{
    letter-spacing: 1px;
    position: fixed;
    z-index: 2;
    width: 100vw;
    transition: all .4s linear;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8vw;
}
.navBg{
    background-color: rgb(19, 18, 18);
    transition: all .4s linear;
}
.menu-list{
    padding-right: 2vw;
}
/* tiny screens */
@media screen and (max-width:320px) {
    .nav-link{
        font-size: 3.2vw;
    }
    .navbar-brand{
        font-size: 4vw;
    }
}
/* small Screens */
@media screen and (min-width:375px) and (max-width:424px) {
    .navbar-brand{
        font-size: 6vw;
    }
    .nav-link{
        font-size: 5vw;
    }
}
/* Mobile */
@media screen and (min-width:425px) and (max-width:767px) {
    .nav-link{
        font-size: 3.2vw;
    }
    .navbar-brand{
        font-size: 3.2vw;
    }
}
