<nav class="navbar navbar-light d-flex " id="myNav">
          <a class="navbar-brand text-white p-2 " href="#">TRAVELEX</a>
          <div class="d-flex menu-list">
          <a class="nav-link active text-white " aria-current="page" routerLink="">Home</a>
          <a class="nav-link active text-white" routerLink="/blog">Blog</a>
          <a class="nav-link active text-white" routerLink="/travels">Travels</a>
          <a class="nav-link active text-white rounded w-md-50" routerLink="/cart">Cart</a>
        </div>
  </nav>
