<h3 class="ps-1 bg-dark text-white fs-2 w-50 m-auto my-3">Cart</h3>
<table class="table w-50 m-auto">
  <thead>
    <tr>
      <th scope="col">Destination</th>
      <th scope="col">Quantitty</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody id="cart-container">
  </tbody>
  <tfoot class="d-flex mt-4 border-0 w-100 m-auto justify-content-end">
    <button class="btn btn-success">Total</button>
    <span id="total" class="mx-3 pt-2 fw-bold">0.00€</span>
    <button class="btn btn-danger  text-end" id="clear-cart" (click)="clearCart()">clear all</button>
  </tfoot>
</table>
<h3 class="ps-5 text-center"> 
</h3>
<br/>

<form
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit(checkoutForm.value)"
  class="container-fluid rounded w-50 bg-dark text-center text-white"
>
  <div>
    <label for="name" class="me-3 my-4 fw-bold"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="address" class="me-1 mb-4 fw-bold"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <div>
    <label for="email" class="me-4 mb-3 fw-bold"> Email </label>
    <input id="email" type="text" formControlName="emailAddress" />
  </div>
  <button class="btn btn-success ms-5 mb-2" type="submit">Purchase</button>
</form>
