<div class="container-fluid">
    <div class="row">
        <h3 class=" mt-3 mb-3 ms-md-0 text-center">TRAVELEX BLOG</h3>

        <hr class="w-50 m-auto mb-2">

        <div class="card col-sm-12 col-lg-7 my-3 border-0 offset-sm-0 offset-md-0 offset-lg-1  ">
            <div class="row g-0">

              <div class="col-md-4">
                <img src="assets/images/DubaiBlog1.jpg" class="img-fluid mt-2 " alt="camel" data-aos="fade-right" data-aos-duration="1000">
                <img src="assets/images/DubaiBlog2.jpg" class="img-fluid mt-3 " alt="dubai" data-aos="fade-right" data-aos-duration="1500">
                <img src="assets/images/DubaiBlog3.jpg" class="img-fluid mt-3 " alt="dates" data-aos="fade-right" data-aos-duration="2000">
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-center">Dubai</h5>
                  <p class="card-text">For nature, history and wildlife enthusiasts like us Dubai is an unconventional destination. But after two extensive visits we have been able to research unplugged experiences, beyond the usual suspects such as the top of Burj Khalifa or shopping at Dubai Mall (or any of the other countless retail temples in the city). If you ask around what’s there to do in Dubai most of the tips revolve around lounging at the beach or indulging in food & retail therapy.</p>
                  <p class="card-text">While those might be valid experiences for some travellers, we prefer to get in touch with the history, culture and nature of a place. Many travellers told us that this would be impossible in Dubai, the capitol of glamour and shiny new things. Was there any history to be found, any nature to be explored? We’ll let you in on our little secret: Yes, there is – although you might have to dig a little deeper.</p>
                  <h3>Our top 12 unconventional Dubai experiences</h3>
                 <ol>
                 <li>Ride a Hot Air Balloon at sunrise.</li>
                 <li>Go on a Desert Safari & see Arabian Oryx.</li>
                 <li>Find the hidden desert lakes.</li>
                 <li>Get in touch with locals during an “Emirati Kashtas” City Tour.</li>
                 <li>Learn about the Emirate traditions and society at an SMCCU Cultural Breakfast.</li>
                 <li>Take an Abra (traditional wooden boat) to cross Dubai Creek.</li>
                 <li>Visit the flamingos at Ras al Khor Wildlife Sanctuary.</li>
                 <li>Discover the history of scents in the perfume house at Al Shindagha museum.</li>
                 <li>Watch the sunset at Vida Creek Harbour.</li>
                 <li>Buy saffron at the spice market.</li>
                 <li>Visit Imam Hussein Mosque.</li>
                 <li>Learn about women in the Emirates in the Women’s museum.</li></ol>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-sm-12 col-md-12 col-lg-2 mt-3  border rounded h-50 offset-sm-0 offset-md-0 offset-lg-1">
              <p class="fs-4 pt-2">What’s new </p> 
              <hr>
               <a href="https://en.wikipedia.org/wiki/Travelex" class="nav-link ">Travel Insurane</a>
               <a href="https://en.wikipedia.org/wiki/Travelex" class="nav-link">Adventures</a>     
          </div>
    </div>
</div>
